/* BASIC STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --yellow: #fffbbc;
    --lightbox: #242424;
  }
  
  body {
    margin: 24px 0 48px;
    font: 20px / 28px 'Sora', sans-serif;
  }
  html
{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 62.5%;
}
  
  /* IMAGE GRID STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .image-grid figure {
    margin-bottom: 0;
  }
  
  .image-grid img {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s;
  }
  
  .image-grid a:hover img {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.35);
  }
  
  
  /* LIGHTBOX STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .lightbox-modal .modal-content {
    background: var(--lightbox);
  }
  
  .lightbox-modal .btn-close {
    position: absolute;
    top: 20px;
    right: 18px;
    font-size: 1.2rem;
    z-index: 10;
  }
  
  .lightbox-modal .modal-body {
    display: flex;
    align-items: center;
    padding: 0;
    text-align: center;
  }
  
  .lightbox-modal img {
    width: auto;
    max-height: 100vh;
    max-width: 100%;
  }
  
  .lightbox-modal .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(36, 36, 36, 0.75);
  }
  
  .lightbox-modal .carousel-control-prev,
  .lightbox-modal .carousel-control-next {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    width: auto;
  }
  
  .lightbox-modal .carousel-control-prev {
    left: 10px;
  }
  
  .lightbox-modal .carousel-control-next {
    right: 10px;
  }

  .text-center{
    margin-top: 10rem;
    padding-bottom: 1.7%;
    font-weight: bolder;
    color: black;
    }
    /* Media Query for Mobile Devices */
  @media (min-width: 22.5em) and (max-width: 30em) {
    .text-center{
      font-size: 3.2rem;
    }
}
 
/* Media Query for iPads, Tablets */
@media (min-width: 30.0625em) and (max-width: 47.9375em) {
  .text-center{
    font-size: 3.3rem;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 48em) and (max-width: 64em) {
  .text-center{
    font-size: 3.4rem;
  }
}

/* Media Query for small Laptops and Desktops */
@media (min-width: 64.0625em) and (max-width: 80em) {
  .text-center{
    font-size: 3.5rem;
  }
}

/* Media Query for Large screens */
@media (min-width: 80.0625em) {
  .text-center{
    font-size: 3.6rem;
  }
}


