/* Media Query for Mobile Devices */
@media (min-width: 22.5em) and (max-width: 30em) {
    .logo
    {
        letter-spacing: 0.07rem;
        font-size: 1.6rem;
    }
    .heading
    {
        font-size: 3.2rem;
    }
    .heading2
    {
        font-size: 3.2rem;
    }
    .words
    {
        margin-top: 6.3rem;
        min-height: 56rem;
        margin: 5rem 3em 5rem 3rem;
    }
    .words p
    {
        font-size: 1.7rem;
        padding-top: 0.9rem;
        padding-bottom: 1rem;
    }
    .Hd1
    {
        font-size: 2.6rem;
        word-spacing: 0.1rem;
    }
    .contact-container
    {
        margin: 5rem auto;
        width: 85%;
    }
    .contSec .icon{
        padding-top: 3.6rem;
        font-size: 2.6rem;
    }
    .contSec .heading3
    {
        font-size: 3.2rem;
        padding-top: 8vh;
    }
    .mapHeading
    {
        font-size: 3.2rem;
        padding-top: 3vh;
    }
 
}
 
/* Media Query for iPads, Tablets */
@media (min-width: 30.0625em) and (max-width: 47.9375em) {
    .logo
    {
        letter-spacing: 0.08rem;
        font-size: 1.7rem;
    }
    .heading
    {
        font-size: 3.3rem;
    }
    .heading2
    {
        font-size: 3.3rem;
    }
    .words
    {
        margin-top: 6.4rem;
        min-height: 57rem;
        margin: 5rem 6rem 6rem 7rem;
    }
    .words p
    {
        font-size: 1.8rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    .Hd1
    {
        font-size: 2.7rem;
        word-spacing: 0.2rem;
    }
    .contact-container
    {
        margin: 5rem auto;
        width: 75%;
    }
    .contSec .icon{
        padding-top: 3.7rem;
        font-size: 2.7rem;
    }
    .contSec .heading3
    {
        font-size: 3.3rem;
        padding-top: 9vh;
    }
    .mapHeading
    {
        font-size: 3.3rem;
        padding-top: 4vh;
    }
 
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 48em) and (max-width: 64em) {
    .logo
    {
        letter-spacing: 0.09rem;
        font-size: 1.8rem;
    }
    .heading
    {
        font-size: 3.4rem;
    }
    .heading2
    {
        font-size: 3.4rem;
    }
    .words
    {
        margin-top: 6.5rem;
        min-height: 58rem;
        margin: 5rem 8rem 5rem 8rem;
    }
    .words p
    {
        font-size: 1.9rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    .Hd1
    {
        font-size: 2.8rem;
        word-spacing: 0.3rem;
        letter-spacing: 0.13rem;
    }
    .contact-container
    {
        margin: 5rem auto;
        width: 65%;
    }
    .contSec .icon{
        padding-top: 3.8rem;
        font-size: 2.8rem;
    }
    .contSec .heading3
    {
        font-size: 3.4rem;
        padding-top: 10vh;
    }
    .mapHeading
    {
        font-size: 3.4rem;
        padding-top: 5vh;
    }
 
}

/* Media Query for small Laptops and Desktops */
@media (min-width: 64.0625em) and (max-width: 80em) {
    .logo
    {
        letter-spacing: 0.1rem;
        font-size: 1.9rem;
    }
    .heading
    {
        font-size: 3.5rem;
    }
    .heading2
    {
        font-size: 3.5rem;
    }
    .words
    {
        margin-top: 6.6rem;
        min-height: 59rem;
        margin: 5rem 9rem 5rem 9rem;
    }
    .words p
    {
        word-spacing: 0.1rem;
        font-size: 2.0rem;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }
    .Hd1
    {
        font-size: 2.9rem;
        word-spacing: 0.4rem;
        letter-spacing: 0.14rem;
    }
    .contact-container
    {
        margin: 5rem auto;
        width: 55%;
    }
    .contSec .icon{
        padding-top: 3.9rem;
        font-size: 2.9rem;
    }
    .contSec .heading3
    {
        font-size: 3.5rem;
        padding-top: 11vh;
    }
    .mapHeading
    {
        font-size: 3.5rem;
        padding-top: 6vh;
    }
 
}

/* Media Query for Large screens */
@media (min-width: 80.0625em) {
    .logo
    {
        letter-spacing: 0.2rem;
        font-size: 2.0rem;
    }
    .heading
    {
        font-size: 3.6rem;
    }
    .heading2
    {
        font-size: 3.6rem;
    }
    .words
    {
        margin-top: 6.7rem;
        min-height: 60rem;
        margin: 5rem 10rem 5rem 10rem;
    }
    .words p
    {
        letter-spacing: 0.15rem;
        word-spacing: 0.2rem;
        font-size: 2.1rem;
        padding-top: 4rem;
        padding-bottom: 5rem;
    }
    .Hd1
    {
        font-size: 3.0rem;
        word-spacing: 0.5rem;
        letter-spacing: 0.15rem;
    }
    .contact-container
    {
        margin: 5rem auto;
        width: 45%;
    }
    .contSec .icon{
        padding-top: 4rem;
        font-size: 3rem;
    }
    .contSec .heading3
    {
        font-size: 3.6rem;
        padding-top: 12vh;
    }
    .mapHeading
    {
        font-size: 3.6rem;
        padding-top: 7vh;

    }
 
}