*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}
html
{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body 
{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: autoz;
    min-height: 100vh;
}

img{
    display: block;
    width:100%;
    height: 100%;
}
.headingServ
{
    margin-top: 6.7rem;
    text-align: center;
    margin-top: 10rem;
    font-weight: bolder;
    max-width: 100%; 
}
.underHeading 
{
    background-color: rgb(33, 128, 212);
    height: 0.32rem;
    margin-top: 1.5rem;
    margin-left: 30%;
    margin-right: 30%;
}
hr{
    background-color: rgb(33, 128, 212);
    height: 0.32rem;
    margin-top: 1.5rem;
    
}
.grid
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2rem;
    display: grid;
    padding: 1.6rem;
    grid-gap: 8rem;


    /* Media Query for Mobile Devices */
    @media (min-width: 22.5em) and (max-width: 30em) {
        grid-template-columns: repeat(1, 1fr);
        .headingServ
        {
            font-size: 3.2rem;
        }
        .col
        {
            .details{
                font-size: 1.7rem;
                text-align: justify;
            }
            .Title{
                font-size: 2.2rem;
                color:#013654;
                letter-spacing: 0.11rem;
                word-spacing: -0.2rem;
            }
        }
    }
     
    /* Media Query for iPads, Tablets */
    @media (min-width: 30.0625em) and (max-width: 47.9375em) {
        grid-template-columns: repeat(1, 1fr);
        .headingServ
        {
            font-size: 3.3rem;
        }
        .col
        {
            .details{
                font-size: 1.8rem;
                text-align: justify;
            }
            .Title{
                font-size: 2.3rem;
                color:#013654;
                letter-spacing: 0.12rem;
                word-spacing: -0.1rem;
            }
        }
    }

    /* Media Query for Tablets Ipads portrait mode */
    @media (min-width: 48em) and (max-width: 64em) {
        grid-template-columns: repeat(2, 1fr);
        .headingServ
        {
            font-size: 3.4rem;
        }
        .col
        {
            .details{
                font-size: 1.9rem;
                text-align: justify;
            }
            .Title{
                font-size: 2.4rem;
                color:#013654;
                letter-spacing: 0.13rem;
                word-spacing: 0.0rem;
            }
        }
    }

    /* Media Query for small Laptops and Desktops */
    @media (min-width: 64.0625em) and (max-width: 80em) {
        grid-template-columns: repeat(2, 1fr);
        .headingServ
        {
            font-size: 3.5rem;
        }
        .col
        {
            .details{
                font-size: 2.0rem;
                text-align: justify;
            }
            .Title{
                font-size: 2.5rem;
                color:#013654;
                letter-spacing: 0.14rem;
                word-spacing: 0.1rem;
            }
        }
    }

    /* Media Query for Large screens */
    @media (min-width: 80.0625em) {
        grid-template-columns: repeat(2, 1fr);
        .headingServ
        {
            font-size: 3.6rem;
        }
        .col
        {
            .details{
                font-size: 2.1rem;
                text-align: justify;
            }
            .Title{
                font-size: 2.6rem;
                color:#013654;
                letter-spacing: 0.15rem;
                word-spacing: 0.2rem;
            }
        }
    } 
  }

/* =====================================================*/
/*  MEDIA QUERY FOR ELEMENTS OUTSIDE - START*/

  /* Media Query for Mobile Devices */
  @media (min-width: 22.5em) and (max-width: 30em) {
    .headingServ
    {
        font-size: 3.2rem;
    }
}
 
/* Media Query for iPads, Tablets */
@media (min-width: 30.0625em) and (max-width: 47.9375em) {
    .headingServ
    {
        font-size: 3.3rem;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 48em) and (max-width: 64em) {
    .headingServ
    {
        font-size: 3.4rem;
    }
}

/* Media Query for small Laptops and Desktops */
@media (min-width: 64.0625em) and (max-width: 80em) {
    .headingServ
    {
        font-size: 3.5rem;
    }
}

/* Media Query for Large screens */
@media (min-width: 80.0625em) {
    .headingServ
    {
        font-size: 3.6rem;
    }
 
}

/*  MEDIA QUERY FOR ELEMENTS OUTSIDE - END*/
/* =====================================================*/