*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body 
{
    overflow-x: hidden;
    height: auto;
    min-height: 100vh;
}
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 8vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #013654;
    height: 67px;
    position:fixed;
    top: 0;
}

.logo
{
    color: rgb(239, 239, 239);
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}
.nav-links
{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li
{
    list-style: none;
}
.nav-links a
{
    color: rgb(239, 239, 239);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links a:hover
{
    text-decoration: underline;
    font-weight: bolder;
    font-size: medium;
    border-radius: 10px;
}

.burger
{
    display: none;
    cursor: pointer;
}
.burger div
{
    width: 20px;
    height: 2px;
    background-color: rgb(239, 239, 239);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px)
{
    .nav-links
    {
        width: 40%;
    }
}

@media screen and (max-width:768px)
{
    body{
        overflow-x: hidden;
    }
    .nav-links
    {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #013654;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .secImg
    {
        background-size: cover;
    }
    
}

.nav-active
{
    transform: translateX(0%);
}

@keyframes navLinkFade
{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1
{
    transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2
{
    opacity: 0;
}
.toggle .line3
{
    transform: rotate(45deg) translate(-5px,-5px);
}

.secImg
{
    margin-top: 67px;
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(./bg2.jpg);
    background-size: cover;
    background-position: center;
}

.heading
{
    color: #ffff;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    font-family: 'Sora', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    text-align: center;
    resize: none;
}


    

