*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}
html
{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body 
{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: auto;
    min-height: 100vh;
}
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 8vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #013654;
    height: 6.7rem;
    position:fixed;
    top: 0;
    z-index: 1000;
}

.logo
{
    color: rgb(239, 239, 239);
    letter-spacing: 0.2rem;
    font-size: 2rem;
    font-weight: bold;
}
.nav-links
{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li
{
    list-style: none;
}
.nav-links a
{
    color: rgb(239, 239, 239);
    text-decoration: none;
    letter-spacing: 0.2rem;
    font-weight: bold;
    font-size: 1.4rem;
}
.nav-links a:hover
{
    text-decoration: underline;
    font-weight: bolder;
    font-size: 1.6rem;
    border-radius: 1rem;
}

.burger
{
    display: none;
    cursor: pointer;
}
.burger div
{
    width: 2rem;
    height: 0.2rem;
    background-color: rgb(239, 239, 239);
    margin: 0.5rem;
    transition: all 0.3s ease;
}

@media (max-width:1024px)
{
    .nav-links
    {
        width: 40%;
    }
}

/* Media Query for Tablets and mobile - ONLY NAV BAR */
@media (max-width: 47.9375em)
{
    body{
        overflow-x: hidden;
    }
    .nav-links
    {
        position: absolute;
        right: 0px;
        height: 60vh;
        top: 7.5vh;
        background-color: #013654;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    } 
}

.nav-active
{
    transform: translateX(0%);
}

@keyframes navLinkFade
{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1
{
    transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2
{
    opacity: 0;
}
.toggle .line3
{
    transform: rotate(45deg) translate(-5px,-5px);
}

.secImg
{
    margin-top: 6.7rem;
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(./Images/bg2.jpg);
    background-size: cover;
    background-position: center;
}

.heading
{
    font-family: 'Sora', sans-serif;
    padding-top: 35vh;
    color: #ffff;
    text-align: center;
    font-size: 3.6rem;
    max-width: 100%;
}

.aboutUsImg
{
    margin-top: 0px;
    width: 100%;
    height: 100vh;
    background: rgb(0,24,36);
    background: linear-gradient(90deg, rgba(0,24,36,1) 12%, rgba(75,175,196,1) 100%);
}
.heading2
{
    font-family: 'Sora', sans-serif;
    padding-top: 40vh;
    color: #ffff;
    text-align: center;
    font-size: 4rem;
    max-width: 100%;
}
.heading2 .who
{
    margin-top: 1rem;
    margin-bottom: 0.7rem;
}

.words
{
    margin-top: 6.7rem;
    min-height: 60rem;
    text-align: justify;
    margin: 5rem 10rem 5rem 10rem;
    font-family: 'Sora', sans-serif;
}
.Hd1
{
    color:#013654;
    font-weight: 600;
    font-size: 3rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.15rem;
}
.words p
{
    letter-spacing: 0.15rem;
    word-spacing: 0.2rem;
    font-size: 2rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

.contact-container
{
    position: static;
    font-family: 'Sora', sans-serif;
    background-color: rgb(255, 255, 255);
    height: 40rem;
    width: 50rem;
    margin: 5rem auto;
    text-align: center;
}
.contact-container p
{
    margin-top: 0.15rem;
    letter-spacing: 0.15rem;
    font-size: 1.6rem;
}
.contact-container .containerHeading
{
    padding-top: 3.5rem;
    letter-spacing: 0.15rem;
    
}

.contact-container hr
{
    margin-top: 1.5rem;
    border: 0.05rem solid black;
}

.contSec
{
    margin-top: 0px;
    width: 100%;
    height: 100vh;
    background: rgb(138,163,176);
    background: radial-gradient(circle, rgba(138,163,176,1) 40%, rgba(144,171,184,1) 54%, rgba(206,235,232,1) 100%);
}
.contSec .heading3
{
    font-family: 'Sora', sans-serif;
    font-size: 3.6rem;
    max-width: 100%;
    padding-top: 7vh;
    text-align: center;
    font-weight: bolder;
    color: black;
}
.Map
{
    width: 100%;
}

.map-wrapper
{
    margin-top: 8rem;
    margin-left: 10%;
    margin-right: 10%;
}

    

