*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body 
{
    overflow-x: hidden;
    height: auto;
    min-height: 100vh;
}
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 8vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #013654;
    height: 67px;
    position:fixed;
    top: 0;
}

.logo
{
    color: rgb(239, 239, 239);
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}
.nav-links
{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li
{
    list-style: none;
}
.nav-links a
{
    color: rgb(239, 239, 239);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links a:hover
{
    text-decoration: underline;
    font-weight: bolder;
    font-size: medium;
    border-radius: 10px;
}

.burger
{
    display: none;
    cursor: pointer;
}
.burger div
{
    width: 20px;
    height: 2px;
    background-color: rgb(239, 239, 239);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px)
{
    .nav-links
    {
        width: 40%;
    }
}

@media screen and (max-width:768px)
{
    body{
        overflow-x: hidden;
    }
    .nav-links
    {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #013654;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    } 
}

.nav-active
{
    transform: translateX(0%);
}

@keyframes navLinkFade
{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1
{
    transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2
{
    opacity: 0;
}
.toggle .line3
{
    transform: rotate(45deg) translate(-5px,-5px);
}

.secImg
{
    margin-top: 67px;
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(./bg2.jpg);
    background-size: cover;
    background-position: center;
}

.heading
{
    font-family: 'Sora', sans-serif;
    padding-top: 35vh;
    color: #ffff;
    text-align: center;
    font-size: 36px;
    max-width: 100%;
}

.aboutUsImg
{
    margin-top: 0px;
    width: 100%;
    height: 100vh;
    background: rgb(0,24,36);
    background: linear-gradient(90deg, rgba(0,24,36,1) 12%, rgba(75,175,196,1) 100%);
}
.heading2
{
    font-family: 'Sora', sans-serif;
    padding-top: 40vh;
    color: #ffff;
    text-align: center;
    font-size: 40px;
    max-width: 100%;
}
.heading2 .who
{
    margin-top: 10px;
    margin-bottom: 7px;
}

.contSec
{
    margin-top: 0px;
    width: 100%;
    height: 92vh;
    background: rgb(138,163,176);
    background: radial-gradient(circle, rgba(138,163,176,1) 40%, rgba(144,171,184,1) 54%, rgba(206,235,232,1) 100%);
}
.contSec .heading3
{
    font-family: 'Sora', sans-serif;
    font-size: 36px;
    max-width: 100%;
    padding-top: 7vh;
    text-align: center;
    font-weight: bolder;
    color: black;
}
.Container
{
    position: static;
    font-family: 'Sora', sans-serif;
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 500px;
    margin: 50px auto;
    text-align: center;
}
.Container p
{
    margin-top: 1.5px;
    letter-spacing: 1.5px;
    font-size: 16px;
}
.Container .phone
{
    padding-top: 35px;
    letter-spacing: 1.5px;
    
}
.Container .Email
{
    padding-top: 35px;
    letter-spacing: 1.5px;
}
.Container .address
{
    padding-top: 35px;
    letter-spacing: 1.5px;    
}
.Container hr
{
    margin-top: 15px;
    border: 0.5px solid black;
}
.words
{
    margin-top: 67px;
    height: 100vh;
    text-align: justify;
    margin: 50px 100px 50px 100px;
    font-family: 'Sora', sans-serif;
}
.Hd1
{
    font-weight: 600;
    font-size: 30px;
    word-spacing: 5px;
    letter-spacing: 1.5px;
}
.words p
{
    letter-spacing: 1.5px;
    word-spacing: 2px;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 50px;
}


    

